$primary-navy: #1460aa;

$heading-blue: #7276ad;

$button-border-blue: #85bffd;

$rag-undefined  : rgb(160, 159, 160); // aluminium
$rag-danger     : rgb(185, 74, 72);
$rag-warning    : rgb(192, 152, 99);
$rag-advisory   : rgb(252, 252, 75);
$rag-success    : rgb(70, 136, 71);
$rag-unexpected : rgb(137, 30, 136); // plum
$rag-attention  : rgb(185, 74, 72);
$rag-complete   : rgb(0, 64, 133);

$rag-undefined-bg  : rgba(160, 159, 160, 0.3); // aluminium
$rag-danger-bg     : rgba(185, 74, 72, 0.3);
$rag-warning-bg    : rgba(192, 152, 99, 0.3);
$rag-advisory-bg   : rgba(252, 252, 75, 0.3);
$rag-success-bg    : rgba(70, 136, 71, 0.3);
$rag-unexpected-bg : rgba(137, 30, 136, 0.3); // plum
$rag-attention-bg  : rgb(185, 74, 72, 0.3);
$rag-complete-bg   : rgb(0, 64, 133, 0.3);
