$primary-navy: #036ee9;

$rag-undefined  : #a09fa0; // aluminium
$rag-negative   : #800000; // cayenne
$rag-average    : #eda400; // cantaloupe
$rag-positive   : #008400; // clover
$rag-unexpected : #891e88; // plum
