$primary-navy: #1460aa;

$heading-blue: #7276ad;

$button-border-blue: #85bffd;

$rag-undefined  : rgb(160, 159, 160); // aluminium
$rag-danger     : rgb(185, 74, 72);
$rag-warning    : rgb(192, 152, 99);
$rag-success    : rgb(70, 136, 71);
$rag-unexpected : rgb(137, 30, 136); // plum

$rag-undefined-bg  : rgba(160, 159, 160, 0.3); // aluminium
$rag-danger-bg     : rgba(185, 74, 72, 0.3);
$rag-warning-bg    : rgba(192, 152, 99, 0.3);
$rag-success-bg    : rgba(70, 136, 71, 0.3);
$rag-unexpected-bg : rgba(137, 30, 136, 0.3); // plum
