/* manage-fields */

.tab-interface [role="tablist"] {
    list-style-type: none;
    margin: 2.5em 0;
    margin-bottom: .9em;
    padding: 0;
}

.tab-interface [role="tablist"] li {
    margin: 0;
    display: inline-block;
}

.tab-interface [role="tablist"] li:not(:first-child) {
    margin-left: 1em;
}

.tab-interface [role="tab"] {
    padding: 1em;
    border: 2px solid $primary-navy;
    text-decoration: none;
    position: relative;
    top: 2px;
    border-bottom: 0;
}
.tab-interface [role="tab"][aria-selected="false"] {
    border: 0;
}

.tab-interface [role="tab"][aria-selected="true"] {
    background-color: #fff;
    font-weight: bold;
}

.tab-interface [role="tab"]:focus,
.tab-interface [role="tab"]:hover {
    text-decoration: solid underline black;
    outline: 0;
}

.tab-interface [role="tabpanel"] {
    border: 2px solid $primary-navy;
    padding: 1em;
    display: none;
}

.tab-interface [role="tabpanel"].active {
    display: block;
}

.tab-interface [role="tabpanel"] h3:first-child {
    margin: .5em 0 1em 0;
}

@media screen and (max-width: 41em) {
    .tab-interface [role="tablist"] {
        margin: 0;
    }

    .tab-interface [role="tablist"] li,
    .tab-interface [role="tab"] {
        display: block;
    }

    .tab-interface [role="tablist"] li:not(:first-child) {
        margin: 0;
    }

    .tab-interface [role="tab"] {
        border: 2px solid;
    }

}

#manage-fields {
    border-bottom: 1px solid #bbb;
    padding-bottom: .5em;
}

#manage-fields #permissions {
    margin-top: 1em;
}

#manage-fields #permissions ul {
    list-style-type: none;
    padding: 0;
}

#manage-fields .field-options { 
    display: none; 
    border: 1px solid #ccc;
    padding: .5em;
    margin: .5em;
    margin-right: 0;
    background-color: #eee;
}

@each $column-type in calc rag tree enum file curval string date daterange person {
    #manage-fields.column-type-#{$column-type} .field-options.#{$column-type} { display: block; }
}

#manage-fields.column-type-rag #options .stored-value,
#manage-fields.column-type-calc #options .stored-value {
    display: none;
}

#manage-fields #advanced-field-settings h3,
#manage-fields h4 {
    display: inline-block;
    padding-bottom: .5em;
}

#manage-fields .permission.write-new .permission,
#manage-fields .permission.modify-existing .permission {
    display: none;
    margin-left: 1.5em;
}

#manage-fields .permission.write-new input:checked ~ .permission,
#manage-fields .permission.modify-existing input:checked ~ .permission {
    display: block;
}

#manage-fields .permission-rule h5 {
    margin: 0;
    padding: 0;
}

#manage-fields .permission-rule,
#manage-fields .display-condition,
#manage-fields .permission {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: .5em;
}

.permission .abbreviation {
    border: 1px dashed #000;
    padding: .2em;
    cursor: help;
    margin: 0 .2em;
}

@each $abbr-type in read approve-new approve-existing write-new write-new-no-approval write-existing write-existing-no-approval {
    #current-permissions .permission-#{$abbr-type} .abbreviation-#{$abbr-type} { display: inline; }
}

#current-permissions .abbreviation,
#current-permissions .permission.edit .configuration,
#current-permissions .permission.edit button.edit {
    display: none;
}

#current-permissions button.delete {
    display: none;
}

#current-permissions .permission {
    margin-bottom: 1em;
}

#current-permissions .permission.edit button.delete {
    display: inline;
}

#current-permissions .legend dd,
#current-permissions .legend dt {
    display: inline-block;
}

#current-permissions .legend dt {
    width: 15%;
}

#current-permissions .legend dd {
    width: 84%;
}

#current-permissions .configuration {
    position: relative;
}


#current-permissions .permission .group-name {
    font-size: 1.2em;
    margin-top: 0;
    display: inline-block;
}

#current-permissions .configuration .tooltip {
    padding: .3em;
    font-size: 1em;
    top: -3em;
    right: auto;
    left: 0;
}

#current-permissions .summary {
    width: 75%;
    display: inline-block;
}

