<nav class="[% user_menu_class %]" aria-label="Top">
  <ul class="user">
    <li class="user__item">
      <a class="user__link user__link--details" href="[% url.page %]/myaccount">
        <span>My details</span>
      </a>
    </li>
    <li class="user__item">
      <a class="user__link user__link--logout" href="[% url.page %]/logout">
        <span>Logout</span>
      </a>
    </li>
  </ul>
</nav>
