.collapsible-dropdown {
  width: max-content;

  .collapsible__toggle {
    @include dropdown-toggle;

    padding: 0;
    color: $gray-extra-dark;
  }

  .collapsible-dropdown__content {
    margin-top: 10px;
    background-color: $white;
  }
}
