.btn {
  &:not(:last-of-type) {
    margin-bottom: $padding-base-vertical;
  }
}

.btn-inverted {
  @include button-variant($white, $brand-secundary, $brand-secundary);
}

.btn-delete {
  @include button-variant($white, $white, $brand-danger, $hover-color: $brand-danger);
  &:hover {
    text-decoration: underline;
  }
}

.btn-link {
  @include button-variant($transparent, $transparent, $brand-primary, $hover-color: $brand-secundary);
  &:hover {
    text-decoration: underline;
  }
}

.btn-cancel {
  @include button-variant($white, $gray-extra-dark, $gray-extra-dark, $hover-border: $btn-cancel-hover-color, $hover-color: $btn-cancel-hover-color);
}

.btn-default {
  @include button-variant($brand-secundary, $brand-secundary, $white);
}

.btn-add {
  &::before {
    @extend %icon-font;
    content: "\E800";
    margin-right: 0.5rem;
  }
}

.btn-import,
.btn-export,
.btn-add-link,
.btn-edit,
.btn-view,
.btn-email,
.btn-filter,
.btn-search,
.btn-sort,
.btn-toggle,
.btn-toggle-off,
.btn-clear {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 10px 0 0;
  border: 0;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: $brand-secundary;
  background: $transparent;

  &::before {
    @extend %icon-font;

    content: "\E80a";
    margin-right: 0.75rem;
    color: $brand-secundary;
    background: $transparent;
    transition: all 0.2s ease;
  }

  &:hover,
  &:focus,
  &:active {
    border-bottom: solid 1px $brand-secundary;
    box-shadow: none;
    color: $brand-secundary;
    text-decoration: none;
    background: $transparent;
  }
}
