.btn {
  &:not(:last-of-type) {
    margin-bottom: $padding-base-vertical;
  }
}

.btn-inverted {
  @include button-variant($white, $brand-secundary, $brand-secundary);
}

.btn-delete {
  @include button-variant($transparent, $transparent, $brand-danger, $hover-color: $brand-danger);
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

.btn-link {
  @include button-variant($transparent, $transparent, $brand-secundary, $hover-color: $brand-secundary, $hover-border: $transparent);
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

.btn-cancel {
  @include button-variant($white, $gray-extra-dark, $gray-extra-dark, $hover-border: $btn-cancel-hover-color, $hover-color: $btn-cancel-hover-color);
}

.btn-default {
  @include button-variant($brand-secundary, $brand-secundary, $white);
}

.btn-import,
.btn-export,
.btn-add-link,
.btn-edit,
.btn-view,
.btn-email,
.btn-filter,
.btn-search,
.btn-sort,
.btn-toggle,
.btn-toggle-off,
.btn-clear {
  display: flex;
  align-items: center;
  width: max-content;
  border: 0;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: $brand-secundary;
  background: $transparent;

  &::before {
    @extend %icon-font;

    content: "\E80a";
    margin-right: 0.75rem;
    color: $brand-secundary;
    background: $transparent;
    transition: all 0.2s ease;
  }

  &:not(.btn-edit) {

    &:hover,
    &:focus,
    &:active {
      border-bottom: solid 1px $brand-secundary;
      box-shadow: none;
      color: $brand-secundary;
      text-decoration: none;
      background: $transparent;
    }
  }
}

.btn-info {
  &::after {
    @extend %icon-font;
    content: "\E810";
    margin-left: 0.5rem;
  }
}

.btn-add,
.btn-add-link {
  &::before {
    @extend %icon-font;
    content: "\E800";
    margin-right: 0.75rem;
  }
}

.btn-upload {
  &::before {
    @extend %icon-font;
    content: "\E81F";
    margin-right: 0.75rem;
  }
}

.btn-download {
  &::after {
    @extend %icon-font;
    content: "\E80A";
    margin-right: 0.75rem;
  }

  padding: 0;
}

.collapsible__toggle {
  @extend .btn;
  @include button-variant($transparent, $transparent, $brand-primary, $hover-color: $brand-secundary, $hover-border: $transparent);
  padding: 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &::after {
    @extend %icon-font;
    content: "\E805";
    margin-left: 0.75rem;
    color: $brand-secundary;
    background: $transparent;
    transition: all 0.2s ease;
  }

  &[aria-expanded="true"] {
    &::after {
      transform: rotate(90deg);
    }
  }
}

.close {
  @extend .btn;
  @include button-variant($transparent, $transparent, $black, $hover-color: $black);
  padding: 0;
  text-decoration: none;
}
