[%
  cell_class = class ? ' class="' _ class _ '"' : '';
%]
<th [% cell_class %]>
  <span>
    [%-
      SWITCH filter;
        CASE 'html';
          label | html;
        CASE 'html_entity';
          label | html_entity;
        CASE DEFAULT;
          label;
      END;
    -%]
  </span>
</th>
