[%
  cell_class  = class ? ' class="' _ class _ '"' : '';
  link_class  = link_class ? link_class : 'link link--plain';
  field_value = field_name AND field_value ? field_value : label;
  data_attr   = field_name ? ' data-' _ field_name _ '="' _ field_value _ '"' : '';
%]
<td [% cell_class %][% data_attr %]>
  <a href='[% url.page %][% link %]' class='[% link_class %]'>
    [% INCLUDE fields/sub/filter.tt value=label; %]
  </a>
</td>
