.skip-links {
  position: absolute;
  z-index: 1030;
  top: 0;
  left: 0;
  margin: 0 0 0 $padding-large-horizontal;
  padding: 0;
  list-style-type: none;
  overflow: hidden; // Odd bug where visually-hidden is causing overflow issues with this element

  a {
    @include visually-hidden;

    display: block;
    padding: $padding-base-horizontal;
    border: 1px solid $brand-secundary;
    outline: 0;
    background-color: $white;
  }

  a:focus {
    @include visually-hidden-off;
  }
}
