/blib/
.build/
_build/
/cover_db/
/inc/
Build
!Build/
Build.bat
/environments/development_local.yml
.last_cover_stats
/Makefile
/Makefile.old
/META.yml
/MYMETA.*
/nytprof.out
pm_to_blib
*.sw?
/config.yml
_Inline/
.sass-cache/
node_modules/
/.vagrant
/public/**/*.map
.idea/
/dump

/public/css/external.js
/public/css/general.js
/public/manifest.json

# Unneccessary files
webdriver/MYMETA.*
webdriver/Makefile*
yarn-error.log

webpack.config.development.js

.vscode/