<div class="row flex-nowrap">
  [% PROCESS navigation/main_menu.tt %]
  <main class="[% main_class || 'main col-lg-10' %]">
    <div class="main__container">
      [%
      IF detail_header;
        PROCESS snippets/header_detail.tt;
      ELSE;
        PROCESS snippets/header.tt;
      END;
      %]
      <div class="content-block">
        [% PROCESS snippets/message_center.tt %]
        [% content %]
      </div>
    </div>
  </main>
</div>
