<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>[% page %] | Linkspace</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="[% url.css %]/external.css?v=7">
    <link rel="stylesheet" href="[% url.css %]/general.css?v=9">
  </head>
  <body class="[% body_class || 'page' %]"[% IF csrf_token %] data-csrf="[%- csrf_token -%]"[% END; IF layout OR layout_obj; %] data-layout-identifier="[% layout.identifier || layout_obj.identifier %]"[% END %][% IF actions; %] data-actions="[% b64_filter(actions) %]"[% END; %]>
    <div class="[% container_class || 'container-fluid' %]">
      [%
        IF page == "login" OR page == "register" OR page == "reset" OR page == "invalidsite";
          PROCESS layouts/content_without_menu.tt;
        ELSIF page_as_mech;
          PROCESS layouts/content_print.tt;
        ELSE;
          PROCESS layouts/content_with_menu.tt;
        END;
      %]
    </div>
    <script type="text/javascript" src="[% url.js %]/fengari-web.js"></script>
    <script type="text/javascript" src="[% url.js %]/site.js?v=36"></script>
  </body>
</html>
