<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- What a mess. The login screen only renders with IE8 mode, the graphs only with IE7 mode
             Please Microsoft, don't produce such rubbish. Just ditch IE forever and use an open source browser instead -->
        <!-- Okay, since the above, rendering the graphs seems to work in some versions of IE8 with IE8
            compatibility. Let's leave it at 8 and see how it goes -->
        [% IF page == "data" AND viewtype == "graph" %]
            <meta http-equiv="X-UA-Compatible" content="IE=8">
        [% ELSE %]
            <meta http-equiv="X-UA-Compatible" content="IE=8">
        [% END %]
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        [% IF hostlocal %]
            <link rel="stylesheet" href="[% url.css %]/font-awesome.min.css">
            <link rel="stylesheet" href="[% url.css %]/bootstrap.min.css">
            <!-- <link href='[% scheme %]://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'> -->
        [% ELSE %]
            <link href='[% scheme %]://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="[% scheme %]://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        [% END %]

        <title>Linkspace [% page %]</title>

        <!-- Custom styles for this template -->
        [% UNLESS page_as_mech %]
            <link rel="stylesheet" href="[% url.css %]/ctrlo-bootstrap.css">
        [% END %]

        [% IF page == "layout" OR page == "edit" OR page == "approval" OR page == "audit" OR page == "bulk" OR page == "data"%]
            <link rel="stylesheet" href="[% url.css %]/jstree.min.css" />
            <link rel="stylesheet" href="[% url.css %]/bootstrap-datepicker.min.css" />
            <link rel="stylesheet" href="[% url.css %]/bootstrap-select.min.css" />
        [% END %]
        [% IF page == "data" AND viewtype == "calendar" %]
            <link rel="stylesheet" href="[% url.css %]/calendar.min.css">
        [% END %]
        [% IF page == "data" AND viewtype == "timeline" %]
            [% IF hostlocal %]
                <link rel="stylesheet" href="[% url.css %]/vis.min.css">
            [% ELSE %]
                <link rel="stylesheet" href="[% scheme %]://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.css">
            [% END %]
        [% END %]
        [% IF page == "view" OR page == "layout" %]
            <link rel="stylesheet" href="[% url.css %]/query-builder.css">
        [% END %]
        [% IF page == "user" OR page == "account" %]
            [% IF hostlocal %]
                <link rel="stylesheet" href="[% url.css %]/dataTables.bootstrap.css">
            [% ELSE %]
                <link rel="stylesheet" href="[% scheme %]://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
            [% END %]
        [% END %]
        [% IF page == "config" %]
            <link href="[% url.css %]/summernote.css" rel="stylesheet">
        [% END %]

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="[% url.css %]/local.css">

        [% IF user.stylesheet %]
            <!-- Custom styles for this user -->
            <link rel="stylesheet" href="[% url.css %]/[% user.stylesheet %]">
        [% END %]

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="[% scheme %]://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="[% scheme %]://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <div id="wrapper">
        [% IF header AND NOT page_as_mech %]
            <p class="text-center">[% header %]</p>
        [% END %]
        <div class="container-fluid">
            [% UNLESS page == "login" OR page == "invalidsite" OR page_as_mech %]
                <div class="navbar navbar-default" role="navigation">
                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-label="Table menu"
                                    aria-expanded="false" aria-haspopup="true" aria-controls="table-menu">
                                    <span><i aria-hidden="true" class="fa fa-cog fa-lg use-icon-font"></i></span>
                                </button>
                                <ul class="dropdown-menu" id="ciog-menu">
                                    <li [% IF 0 %]class="active"[% END %]>
                                        <a href="[% url.page %]/config/">Manage homepage</a>
                                    </li>
                                    <li [% IF 0 %]class="active"[% END %]>
                                        <a href="[% url.page %]/file/">Manage uploads</a>
                                    </li>
                                    <li [% IF 0 %]class="active"[% END %]>
                                        <a href="[% url.page %]/audit/">User logs</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-label="Table menu"
                                    aria-expanded="false" aria-haspopup="true" aria-controls="table-menu">
                                    <span>[% instance_name | html_entity %]</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="table-menu">
                                    [% FOREACH instance IN instances %]
                                        <li [% IF instance.id == instance_id %]class="active"[% END %]>
                                            <a href="?instance=[% instance.id %]"
                                            >[% instance.name | html_entity %]</a>
                                        </li>
                                    [% END %]
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-label="User menu"
                                aria-expanded="false" aria-haspopup="true" aria-controls="user-menu">
                                <span>[% user.value | html_entity %]</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="user-menu">
                                <li><a href="[% url.page %]/account/detail">My details</a></li>
                                <li class="divider"></li>
                                <li><a href="[% url.page %]/logout">Logout</a></li>
                            </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
                <div class="navbar navbar-default" role="navigation">
                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="nav navbar-nav">
                            <li><a href="[% url.page %]/"><i aria-hidden="true" class="fa fa-home fa-lg use-icon-font"></i></a></li>
                            [% IF user.permission.layout %]
                                <li class="dropdown">
                                    <button type="button" id="admin-menu" class="dropdown-toggle" 
                                        data-toggle="dropdown" aria-controls="admin-menu-options" aria-expanded="false" aria-haspopup="true">
                                        <span>Table editor</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="admin-menu" id="admin-menu-options">
                                        <li [% IF page=="" %]class="active"[% END %]><a href="[% url.page %]/table/0">Add a table</a></li>
                                        <li [% IF page=="table" %]class="active"[% END %]><a href="[% url.page %]/table/">Manage tables</a></li>
                                        <li class="divider"></li>
                                        <li [% IF page=="layout" %]class="active"[% END %]><a href="[% url.page %]/layout/">Manage fields</a></li>
                                        <li [% IF page=="" %]class="active"[% END %]><a href="[% url.page %]/layout/0">Add a field</a></li>
                                    </ul>
                                </li>
                            [% END %]
                            [% IF user.permission.useradmin %]
                                <li class="dropdown">
                                    <button type="button" id="admin-menu" class="dropdown-toggle" 
                                        data-toggle="dropdown" aria-controls="admin-menu-options" aria-expanded="false" aria-haspopup="true">
                                        <span>Users</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="admin-menu" id="admin-menu-options">
                                        <li [% IF page=="user" %]class="active"[% END %]><a href="[% url.page %]/user/">Manage users</a></li>
                                        <li [% IF page=="" %]class="active"[% END %]><a href="[% url.page %]/user/0">Add a user</a></li>
                                        <li><a href="" data-toggle="modal" data-target="#modal-sendemail">Email users</a></li>
                                        <li><a href="/user?download">Download users</a></li>
                                        <li class="divider"></li>
                                        <li [% IF page=="group" %]class="active"[% END %]><a href="[% url.page %]/group/">Groups</a></li>
                                        <li [% IF page=="" %]class="active"[% END %]><a href="[% url.page %]/group/0">Add a group</a></li>
                                    </ul>
                                </li>
                            [% END %]
                            <li class="dropdown">
                                <button type="button" id="admin-menu" class="dropdown-toggle" 
                                    data-toggle="dropdown" aria-controls="admin-menu-options" aria-expanded="false" aria-haspopup="true">
                                    <span>Records</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="admin-menu" id="admin-menu-options">
                                    <li [% IF page=="data" %]class="active"[% END %]><a href="[% url.page %]/data">See records</a></li>
                                    [% IF user_can_create %]
                                        <li [% IF page=="" %]class="active"[% END %]><a href="[% url.page %]/edit/">Add a record</a></li>
                                    [% END %]
                                    [% IF user.permission.link AND show_link %]
                                        <li [% IF page=="" %]class="active"[% END %]><a href="[% url.page %]/link/">Add a linked record</a></li>
                                    [% END %]
                                    [% IF user_can_approve %]
                                        [% IF approve_waiting %][% appcount = " (" _ approve_waiting _ ")" %][% END %]
                                        <li class="divider"></li>
                                        <li [% IF page=="approval" %]class="active"[% END %]><a href="[% url.page %]/approval/">Approve records[% appcount %]</a></li>
                                    [% END %]
                                    <li class="divider"></li>
                                    <li [% IF page=="import" %]class="active"[% END %]><a href="[% url.page %]/import/">Import records</a></li>
                                    [% IF viewtype == "table" AND records.size AND user.permission.download %]
                                        <li><a href="[% url.page %]/data?download">Download records in current view</a></li>
                                    [% END %]
                                    [% IF user.permission.bulk_update %]
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/bulk/update/">Update all records in view...</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/bulk/clone/">Clone all records in view...</a></li>
                                    [% END %]
                                    [% IF user.permission.delete %]
                                        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#modal_delete" style="cursor: pointer">Delete all records in view...</a>
                                    [% END %]
                                </ul>
                            </li>
                            <li class="dropdown">
                                <button type="button" id="admin-menu" class="dropdown-toggle" 
                                    data-toggle="dropdown" aria-controls="admin-menu-options" aria-expanded="false" aria-haspopup="true">
                                    <span>Views</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="admin-menu" id="admin-menu-options">
                                    [% IF user.permission.view_create %]
                                        <li [% IF page=="" %]class="active"[% END %]><a href="[% url.page %]/view/0">Add a view</a></li>
                                    [% END %]
                                    [% IF v %]
                                        [% IF !v.global OR user.permission.layout %]
                                            <li [% IF page=="" %]class="active"[% END %]><a href="/view/[% v.id %]">Edit current view</a></li>
                                        [% END %]
                                        <li [% IF page=="" %]class="active"[% END %]><a href="/view/0?clone=[% v.id %]">Copy current view</a></li>
                                    [% END %]
                                    <li class="divider"></li>
                                    <li [% IF page=="graph" %]class="active"[% END %]><a href="[% url.page %]/graph/">Manage graphs</a></li>
                                    <li [% IF page=="" %]class="active"[% END %]><a href="[% url.page %]/graph/0">Add a graph</a></li>
                                    <li [% IF page=="" %]class="active"[% END %]><a href="[% url.page %]/metric/">My graphs</a></li>
                                    <li class="divider"></li>
                                    <li role="presentation"><a href="" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#modal_rewind">Historic view...</a></li>
                                    [% IF v %]
                                        <li role="presentation"><a href="" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#modal_alert">Set up an alert</a></li>
                                    [% END %]
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>

            [% END %]

            [% FOR message IN messages %]
                <div role="alert" class="alert alert-[% message.bootstrap_color %]">
                    [% IF message.inClass("html") %]
                        [% message.reason %]: [% message.toString %]
                    [% ELSE %]
                        [% message.reason %]: [% message.toString | html_entity %]
                    [% END %]
                </div>
            [% END %]

            [% IF session.rewind %]
                <div class="alert alert-info">You are viewing data as it was on [% session.rewind.format_cldr(config.dateformat) %] at [% session.rewind.hms %]</div>
            [% END %]

            [% WRAPPER modal_dialog.tt
                modal_id="modal-sendemail"
                modal_action_text="Send e-mail"
                modal_heading="Send an e-mail"
                modal_with_cancel_button=1
                modal_with_form=1
                modal_form_method="post"
            %]
                <div class="form-group">
                    <label for="email_organisation">Users in:</label>
                    <select class="form-control" id="email_organisation" name="email_organisation">
                        <option value="">&lt;All users&gt;</option>
                        [% FOREACH org IN organisations %]
                            <option value="[% org.id %]">[% org.name | html_entity %]</option>
                        [% END %]
                    </select>
                </div>
                <div class="form-group">
                    <label for="email_subject">Subject</label>
                    <input type="text" class="form-control" name="email_subject" id="email_subject" placeholder="Subject">
                </div>
                <div class="form-group">
                    <label for="email_text">Message</label>
                    <textarea class="form-control" id="email_text" name="email_text" rows="10"></textarea>
                </div>
            [% END %]

            [% IF v %]
                [% WRAPPER modal_dialog.tt
                    modal_id="modal_alert" modal_action_text="Create alert" modal_heading="Configure alert for " _  v.name
                    modal_with_cancel_button = 1 modal_with_form = 1 modal_form_method = "post"
                %]
                    <input type="hidden" value="[% v.id %]" name="view_id">
                    <div class="form-group">
                        <label for="frequency">Alert me:</label>
                        <select class="form-control" id="frequency" name="frequency">
                            <option value="" [% IF NOT v.alert %]selected[% END %]>Never</option>
                            <option value="0" [% IF v.alert.frequency == 0 %]selected[% END %]>Instantly</option>
                            <option value="24" [% IF v.alert.frequency == 24 %]selected[% END %]>Every 24 hours</option>
                        </select>
                    </div>
                [% END %]
            [% END %]

            [% WRAPPER modal_dialog.tt
                modal_id="modal_rewind" modal_action_text="Submit" modal_heading="View data as it was at a previous time"
                modal_with_cancel_button = 1 modal_with_form = 1 modal_form_method = "post" modal_extra_action = "modal_rewind_reset"
                modal_extra_action_text = "Reset to current"
            %]
                <div class="form-group">
                    <label for="rewind_date">Date ([% config.dateformat %]):</label>
                    <input id="rewind_date" class="form-control datepicker" type="text" value="[% session.rewind.format_cldr(config.dateformat) %]" name="rewind_date">
                </div>
                <div class="form-group">
                    <label for="rewind_time">Time (HH:MM:SS):</label>
                    <input id="rewind_time" class="form-control" type="text" value="[% session.rewind.hms %]" name="rewind_time" placeholder="23:59:59">
                </div>
            [% END %]


            [% content %]

        </div><!-- /.container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        [% IF hostlocal %]
            <script src="[% url.js %]/jquery-1.12.4.min.js"></script>
            <script src="[% url.js %]/jquery-ui.min.js"></script>
            <script src="[% url.js %]/bootstrap.min.js"></script>
            <script src="[% url.js %]/tooltip.min.js"></script>
        [% ELSE %]
            <script src="[% scheme %]://code.jquery.com/jquery-1.12.4.min.js"></script>
            <script src="[% scheme %]://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
            <script src="[% scheme %]://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="[% scheme %]://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tooltip.min.js"></script>
        [% END %]
        [% IF page == "edit" OR page == "approval" OR page == "audit" OR page == "bulk" OR page == "data" %]
            <script type="text/javascript" src="[% url.js %]/bootstrap-datepicker.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.datepicker').datepicker({format: "[% config.dateformat_datepicker %]", autoclose: true});
                });
            </script>
        [% END %]
        [% IF page == "edit" OR page == "bulk" OR page == "approval" OR page == "view" OR page == "layout" OR (page == "data" AND viewtype == "timeline") %]
            <script type="text/javascript" src="[% url.js %]/base64decode.js"></script>
        [% END %]
        [% IF page == "login" %]
            <script type="text/javascript" src="[% url.js %]/bootstrap-show-password.js"></script>
        [% END %]
        [% IF page == "data" AND viewtype == "graph" %]
            <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/js/excanvas.min.js"></script><![endif]-->
            <script language="javascript" type="text/javascript" src="[% url.js %]/jquery.jqplot.min.js"></script>
            <script language="javascript" type="text/javascript" src="[% url.js %]/jqplot/jqplot.highlighter.min.js"></script>
            <link rel="stylesheet" type="text/css" href="[% url.css %]/jquery.jqplot.min.css" />
            <script type="text/javascript" src="[% url.js %]/jqplot/jqplot.barRenderer.js"></script>
            <script type="text/javascript" src="[% url.js %]/jqplot/jqplot.donutRenderer.js"></script>
            <script type="text/javascript" src="[% url.js %]/jqplot/jqplot.pieRenderer.js"></script>
            <script type="text/javascript" src="[% url.js %]/jqplot/jqplot.categoryAxisRenderer.js"></script>
            <script type="text/javascript" src="[% url.js %]/jqplot/jqplot.pointLabels.js"></script>
            <script type="text/javascript" src="[% url.js %]/jqplot/jqplot.dateAxisRenderer.js"></script>
            <script type="text/javascript" src="[% url.js %]/jqplot/jqplot.canvasTextRenderer.js"></script>
            <script type="text/javascript" src="[% url.js %]/jqplot/jqplot.canvasAxisTickRenderer.js"></script>
            <script type="text/javascript" src="[% url.js %]/jqplot/jqplot.canvasTextRenderer.min.js"></script>
            <script type="text/javascript" src="[% url.js %]/jqplot/jqplot.canvasAxisLabelRenderer.min.js"></script>
        [% END %]
        [% IF page == "view" OR page == "data" OR page == "layout" %]
            <script type="text/javascript" src="[% url.js %]/underscore-min.js"></script>
        [% END %]
        [% IF page == "view" OR page == "layout" %]
            <script type="text/javascript" src="[% url.js %]/query-builder.standalone.js"></script>
        [% END %]
        [% IF page == "view" OR page == "edit" OR page == "layout" OR page == "bulk" %]
            <script type="text/javascript" src="[% url.js %]/bootstrap3-typeahead.min.js"></script>
        [% END %]
        [% IF page == "data" AND viewtype == "calendar" %]
            <script type="text/javascript" src="[% url.js %]/calendar.min.js"></script>
        [% END %]
        [% IF page == "data" AND viewtype == "timeline" %]
            [% IF hostlocal %]
                <script type="text/javascript" src="[% url.js %]/vis.min.js"></script>
            [% ELSE %]
                <script type="text/javascript" src="[% scheme %]://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.js"></script>
            [% END %]
        [% END %]
        [% IF page == "data" AND viewtype == "table" %]
            [% IF hostlocal %]
                <script type="text/javascript" src="[% url.js %]/jquery.floatThead-slim.min.js"></script>
            [% ELSE %]
                <script type="text/javascript" src="[% scheme %]://cdnjs.cloudflare.com/ajax/libs/floatthead/1.2.8/jquery.floatThead-slim.min.js"></script>
            [% END %]
        [% END %]
        [% IF page == "data" %]
            <script type='text/javascript' src='[% url.js %]/fontdetect.min.js'></script>
        [% END %]
        [% IF page == "config" %]
            [% IF 0 %]
                <script type="text/javascript" src="[% url.js %]/tiny_mce/tiny_mce.js"></script>
            [% ELSE %]
                <script src="[% url.js %]/summernote.min.js"></script>
            [% END %]
        [% END %]
        [% IF page == "user" OR page == "account" %]
            [% IF hostlocal %]
                <script type="text/javascript" src="[% url.js %]/jquery.dataTables.min.js"></script>
                <script type="text/javascript" src="[% url.js %]/dataTables.bootstrap.js"></script>
            [% ELSE %]
                <script type="text/javascript" src="[% scheme %]://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
                <script type="text/javascript" src="[% scheme %]://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
            [% END %]
        [% END %]

        <script type="text/javascript" src="[% url.js %]/jquery.placeholder.js"></script>
        <script type="text/javascript">
            $('[data-toggle="popover"]').popover({placement:'auto', html:true});
            if (typeof jscode != 'undefined') {
                eval(jscode);
            }
            $('input, text').placeholder();
        </script>
        [% IF page == "layout" OR page == "edit" OR page == "approval" OR page == "bulk" %]
            <script src="[% url.js %]/jstree.min.js"></script>
            <script src="[% url.js %]/jstree-misc.js"></script>
            <script src="[% url.js %]/bootstrap-select.min.js"></script>
        [% END %]
    </div>
    </body>
</html>

