<div class="content-block__head row">
  <div class="content-block__info col-lg-6">
    <h2 class="content-block__title">
      Edit Table
    </h2>
  </div>
  [% INCLUDE navigation/table_topics_fields_menu.tt %]
</div>
