@media not print {
  .listbox {
    display: none;
  }
}

@media not screen {
  .listbox {
    display: none;
  }
}

@media print {
  .listbox {
    display: block;
  }
}

@media screen {
  .listbox {
    display: block;
    margin: 0.25rem;
    border: var(--bs-border-color) var(--bs-border-width) var(--bs-border-style);
    border-radius: var(--bs-border-radius);
    padding: 0;
    font-size: 0.875rem;
    line-height: var(--bs-line-height, 1.35);

    .listbox-header {
      background: var(--bs-white);
      border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
      padding: 1rem;
      display: flex;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--bs-secondary);
      border-bottom: var(--bs-border-color) var(--bs-border-width) var(--bs-border-style);
    }

    .listbox-content {
      max-height: 20rem;
      min-height: 20rem;
      overflow: auto;
      padding: 0;
      border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);

      .listbox-item,
      [role="listitem"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: var(--bs-line-height, 1.125);
        padding: 1rem;
        justify-content: space-between;

        &:focus {
          background-color: var(--bs-secondary);
          color: var(--bs-white);
        }

        &:last-of-type {
          border-bottom: none;
        }

        &:nth-child(odd) {
          background-color: var(--bs-gray-100);
        }
      }
    }
  }
}

.listbox-item {
  &::after {
    @extend %icon-font;
    margin-right: 0.5rem;
    font-size: 1.25rem;
  }
}

// Because these extend the icon-font, they can't be within a media selector (apparently).
#rows-selected {
  .listbox-item {
    &::after {
      color: var(--bs-danger);
      content: "\E807";
    }
  }
}

#rows-available {
  .listbox-item {
    &::after {
      color: var(--bs-success);
      content: "\E804";
    }
  }
}