.btn-searchable-select.dropdown-toggle {
    @include button-variant($gray-100, $gray-100, $secondary);
    margin-top: .75rem;
    margin-bottom: 1rem;
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

    & span {
        flex-grow: 1;
    }
}

.btn-searchable-select {
    .dropdown-menu.show {
        border-color: $gray-200;
    }
}

.rule-container {
    display: flex;
    align-items: center;
}

.searchable-select-options {
    max-height: 300px;
    overflow-y: auto;

    .searchable-select-search {
        @extend .sticky-top;
        @extend .p-3;
        @extend .bg-light;
        @extend .border-bottom;
        border-color: $gray-200;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
}
