<div class="modal" id="[% modalId %]" tabindex="-1" role="dialog" aria-labelledby="[% modalId %]Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      [% INCLUDE wizard/sub/modal_header.tt; %]
      <div class="modal-frame">
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
</div>
