.popover-container {
  position: initial; // The popover will always be positioned relative to the nearest positioned ancestor

  &:not(.popover-container--text) {
    .popover__btn {
      position: relative;
      width: 1rem;
      margin-left: 0.5rem;
      padding: 0;
      border: 0;
      background-color: $transparent;

      &::before {
        @extend %icon-font;

        content: "\E810";
        transition: font-size 0.3s ease-in-out;
        color: $brand-secundary;
        font-size: 0.938rem;
      }

      &:hover::before {
        font-size: 1rem;
      }

      &:focus::before {
        border-radius: 50%;
        box-shadow: 0 0 0 0.2rem rgba($brand-secundary, 0.2);
      }
    }
  }

  .popover__btn .arrow {
    $border-width: 0.5rem;

    display: none;
    position: absolute;
    z-index: 2;
    bottom: -1px;
    left: 0;
    width: 1rem;
    height: 0.5rem;
    transform: translateY(100%);

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      border-width: 0 $border-width $border-width $border-width;
      border-style: solid;
      border-color: $transparent;
    }

    &::before {
      border-bottom-color: $brand-secundary;
    }

    &::after {
      top: 1px;
      border-bottom-color: $white;
    }
  }

  .popover__btn .arrow.show {
    display: block;
  }

  .popover {
    display: none;
    z-index: 1;
    top: 1.5rem;
    max-width: 100%;
    margin-top: 0.375rem;
    overflow-y: scroll;
    border-color: $brand-secundary;
    max-height: 15rem;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $brand-secundary;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
  }

  .popover.show {
    display: block;
    z-index: 100;
  }

  .popover-body {
    padding: $padding-base-horizontal;
    overflow-y: auto;
    font-size: $font-size-base;
  }
}

.popover-container--top {
  .popover {
    top: -0.9rem;
    transform: translateY(-100%);
  }

  .popover__btn .arrow {
    top: -1px;
    bottom: auto;
    transform: translateY(-100%) rotate(180deg);
  }
}

.popover-container--large .popover-body {
  max-height: 20rem;
}

/* stylelint-disable no-descending-specificity */
.popover-container--text {
  .popover__btn {
    position: relative;

    .arrow {
      left: 50%;
      transform: translate(-50%, 100%);
    }
  }

  .popover {
    margin-top: 1.125rem;
  }
}
