[%
  PROCESS snippets/datum.tt;
  PROCESS snippets/record_readmore.tt;

  # add standardized page header
  INCLUDE layouts/page_header.tt title = "Chronology of edits for record " _ record.current_id;
%]

<div class="content-block__main">
  <div class="content-block__main-content">
    <div class="chronology" data-chronology-id="[% chronology_id %]"></div>
  </div>
</div>
