[%
  # add standardized page header
  INCLUDE layouts/page_header.tt title = "Chronology of edits for record " _ record.current_id;
%]

<div class="content-block__main">
  <div class="content-block__main-content">
    <div class="chronology"></div>
    <div class="chronology_spinner my-3">
      <div class="spinner-border text-primary" role="status"></div>
      <div class="h1 font-weight-bolder ml-2 mb-0 text-secondary">Loading...</div>
    </div>
    <button class="btn btn-default btn-js-load-chronology" data-record-id="[% record.current_id %]">Load more</button>
  </div>
</div>
