[% FOREACH color IN colors %]
    <div class="timeline-color">
        <div class="timeline-color-key" style="background-color:[% color.color %]"></div>
        <div class="timeline-color-text">[% color.key | html_entity %]</div>
    </div>
[% END %]

[% PROCESS snippets/data_globe_inner.tt %]

[% WRAPPER modal_dialog.tt modal_id="readmore_modal" modal_large=1 %]
[% END %]
