<div class="row">
    [% IF homepage_text2 %]
        <div class="col-md-6">
    [% ELSE %]
        <div class="col-md-12">
    [% END %]
            [% homepage_text %]
        </div>
    [% IF homepage_text2 %]
        <div class="col-md-6">
            [% homepage_text2 %]
        </div>
    [% END %]
</div>
