.ld-widget-container{position:relative;overflow:hidden;border:1px solid transparent}.ld-widget-container .ld-draggable-handle,.ld-widget-container .ld-edit-button,.ld-widget-container .react-resizable-handle{transition:opacity 0.2s;opacity:0.2;color:#333}.ld-widget-container:hover .ld-draggable-handle,.ld-widget-container:hover .ld-edit-button,.ld-widget-container:hover .react-resizable-handle{opacity:1}.ld-widget-container--editable:hover{border-color:#e8e8e8}.ld-draggable-handle,.ld-edit-button{position:absolute;width:20px;height:20px;bottom:0}.ld-draggable-handle{right:20px;cursor:move}.ld-edit-button{right:44px;cursor:pointer}.ld-modal__header{padding:14px 12px;position:relative;min-width:400px;border-bottom:1px solid grey}.ld-modal__footer{padding:8px 12px;position:relative;border-top:1px solid grey}.ld-modal__right-container{position:absolute;right:12px;top:8px}.ld-modal__right-container>*{margin-right:12px}.ld-modal__right-container>*:last-child{margin-right:0}.ld-modal__content-container{min-height:100px;max-height:80vh;max-height:calc(100vh - 120px);overflow-y:scroll;position:relative;padding:15px}.ld-modal__loading{position:absolute;top:50%;left:50%;margin-right:-50%;transform:translate(-50%, -50%)}.ReactModal__Body--open{overflow-y:hidden}

.ld-header-container{text-align:right}.ld-header-container .spinner{display:inline-block;margin-right:10px}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}



/*# sourceMappingURL=general.css.map*/