.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

a.normal {
    color: #222222;
}

.float-right {
    float:right;
}
.float-left {
    float:left;
}

.pull-right-ctrlo{
    float: right;
    width:500px;
}

.event{
    border-radius:0px !important;
}
.cal-title{
    display: inline-block;
    width: 200px;
    float: left;
    margin-left: 15px;
}
.cal-key{
    display: inline-block;
    width: 500px;
    float: left;
    margin-left: 15px;
}
.cal-key-label{
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-left: 5px;
}
div.circ-large {
    width: 20px;
    height: 20px;
    border-radius: 0px;
    font-size: 20px;
}

div.circ-small {
    border-radius: 50%;
    width: 12px;
    height: 12px; 
    margin: 0px 5px 0px 10px;
    display: inline-block;
}

.b_red {
    background: #D9534F;
}

.c_amber {
    background: #F0AD4E;
}

.d_green {
    background: #5CB85C;
}

.a_grey {
    background: #8C8C8C;
}

.e_purple {
    background: #4B0F44;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow: auto;
}

.monospace {
    font-family:monospace;
}

/* Override default calendar image locations */
#cal-slide-content {
    padding : 20px;
    color : #fff;
    background-image : url("../images/dark_wood.png");
}

#cal-slide-tick {
    background-image : url("../images/tick.png")
}

table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}

@media print
{
    div{
        page-break-inside: avoid;
    }
}

.bootstrap-select .dropdown-menu li a {
    white-space: normal;
    margin: 0 15px 0 0;
}

.jqplot-table-legend-label {
    white-space: nowrap;
}

