.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

a.normal {
    color: #222222;
}

.float-right {
    float:right;
}
.float-left {
    float:left;
}

.pull-right-ctrlo{
    float: right;
    width:500px;
}

.event{
    border-radius:0px !important;
}
.cal-title{
    display: inline-block;
    width: 200px;
    float: left;
    margin-left: 15px;
}
.cal-key{
    display: inline-block;
    width: 500px;
    float: left;
    margin-left: 15px;
}
.cal-key-label{
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-left: 5px;
}
div.circ-large {
    width: 20px;
    height: 20px;
    border-radius: 0px;
    font-size: 20px;
}

div.circ-small {
    border-radius: 50%;
    width: 12px;
    height: 12px; 
    margin: 0px 5px 0px 10px;
    display: inline-block;
}

.b_red {
    background: #D9534F;
}

.c_amber {
    background: #F0AD4E;
}

.d_green {
    background: #5CB85C;
}

.a_grey {
    background: #8C8C8C;
}

.e_purple {
    background: #4B0F44;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow: auto;
}

.monospace {
    font-family:monospace;
}

/* Override default calendar image locations */
#cal-slide-content {
    padding : 20px;
    color : #fff;
    background-image : url("../images/dark_wood.png");
}

#cal-slide-tick {
    background-image : url("../images/tick.png")
}

table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}

@media print
{
    div{
        page-break-inside: avoid;
    }
}

.bootstrap-select .dropdown-menu li a {
    white-space: normal;
    margin: 0 15px 0 0;
}

.jqplot-table-legend-label {
    white-space: nowrap;
}

/* show radio buttons in query-builder and/or buttons */
.query-builder .rules-group-header input[name$=_cond] {
    display:inline-block
}

/* workaround IE8 unable to use calc() in CSS */
.query-builder .rules-list>*:before,
  .query-builder .rules-list>*:after {
    height:60%;
}

img.autosize {
    max-height:200px;
    max-width:200px;
    height:auto;
    width:auto;
}

.moreinfo {
    cursor: pointer;
}

.item-popup {
    position: absolute;
    bottom: 50px;
    display: none;
}

.item-popup-inner {
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
}

.centered-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    /*dim the background*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    z-index: 1050;
    display: none;
}

.wrapper {
    position: relative;
}

.loader {
    margin: auto;
    border: 5px solid #f3f3f3;
    position: fixed;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.vis-item .vis-item-overflow {
    overflow: visible;
}

.timeline-color {
    padding: 10px;
    display: inline-block;
}

.timeline-color-key {
    vertical-align: top;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.timeline-color-text {
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
    white-space: nowrap;
}
