@media all {
    body {
        -webkit-print-color-adjust: exact !important;
        margin: 0;
    }

    /**
     A3 is 29.7 × 42 cm
     Subtract 0.5cm * 2 for borders = 28.7cm x 41
     Pixels as per https://www.unitconverters.net/typography/centimeter-to-pixel-x.htm
     1085 (h) x 1550 (w)
     */
    @page {
        margin: 0.5cm;
        size: A3 landscape;
    }

    @page :right {
        @bottom-left {
            margin: 10pt 0 30pt 0;
            border-top: .25pt solid #666;
            content: "My book";
            font-size: 9pt;
            color: #333;
        }
    }

    canvas.page {
        position: absolute;
        left: 0;
        height: 1085px;
        border: none;
        page-break-inside: avoid;
        overflow: hidden;
    }

    .page:not(:first-child) {
        page-break-before: always;
    }
}
