.data-table {
    border-spacing: 0;
    font-size: $font-size-sm;

    &.table-thead-hidden thead {
        @include visually-hidden;
    }

    thead {
        background-color: #fff;
        z-index: 1;

        th {
            padding: 1rem;

            background-color: #fff;
            border-bottom: 1px solid $gray;
            text-transform: uppercase;
            vertical-align: top;
            box-shadow: none;

            &[class*="sorting_asc"],
            &[class*="sorting_desc"] {
                color: $brand-secundary;
            }

            &.data-table__header--invisible span,
            &.dt__header--inivisible span {
                @include visually-hidden;
            }
        }
    }

    tbody {
        td {
            padding: 1rem;
            color: $gray-extra-dark;
        }
    }

    tfoot {
        background-color: $table-hover-bg;
        font-weight: bold;
    }

    &.table-lines th,
    &.table-lines td {
        border-top: 0;
        border-bottom: 1px solid $gray;
    }

    .autosize {
        max-height: 30px;
    }

    &.table-striped {
        --bs-table-border-color: $transparent;

        &>tbody {
            &>tr:nth-of-type(2n) {
                &>* {
                    box-shadow: none !important;
                }
            }
        }
    }

    &.table-hover {
        --bs-table-hover-bg: $table-hover-bg;

        &>tbody {
            &>tr:hover {
                background-color: $table-hover-bg;
            }

            &>tr:hover {
                &>* {
                    box-shadow: none !important;
                }
            }
        }
    }
}

/* Necessary to overrule default styling */
table.dataTable thead .sorting,
table.dataTable thead .sorting_disabled {

    // Remove the sorting arrows from the sorting element, important needed to overrule default styling
    &::before,
    &::after {
        content: normal !important;
    }
}

// Styling of the generated dataTable
.dataTables_wrapper {
    margin-bottom: $padding-small-vertical;
    font-size: $font-size-sm;

    &:last-child {
        margin-bottom: 0;
    }

    .row {
        width: 100%;
    }

    .row--header,
    .row--main {
        margin-bottom: $padding-base-vertical;
    }
}

.row--fiv-header {
    margin-top: 1.9rem;
}

.dataTables_toggle_full_width {

    .btn-toggle,
    .btn-toggle-off {
        padding-top: 7px;
    }
}

.data-table__container--scrollable {
    overflow: auto;

    thead {
        position: sticky;
        top: 0;
    }
}

.dataTables_info_wrapper {
    display: none;
}

.dataTables_length_wrapper {
    margin-top: $padding-large-vertical;
}

.dataTables_length {
    .form-control {
        @include form-control;
    }
}

.dataTables_filter {
    label {
        @include input-search;

        display: flex;
        justify-content: flex-start;
    }

    .form-control {
        @include form-control;
    }
}

.data-table__sort {
    display: flex;
    align-items: flex-start;
    order: 2;
    padding: 0;
    transition: 0.2s all ease-in;
    border: 0;
    border-bottom: 1px solid $transparent;
    background-color: $transparent;
    color: $gray-extra-dark;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus,
    .dt-ordering-asc &,
    .dt-ordering-desc & {
        color: $brand-secundary;

        .btn-sort {
            opacity: 1;
            color: var(--bs-secondary, $brand-secundary);

            &::before {
                color: var(--bs-secondary, $brand-secundary);
            }
        }
    }

    .data-table__header--invisible & {
        display: none;
    }
}

.data-table__search {
    margin: 0 0.1rem 0 -1rem;

    .dropdown-toggle {
        margin-top: 0.1rem;
        transition: 0.2s opacity ease-in;
        opacity: 0.8;

        &:hover,
        &:active,
        &:focus {
            opacity: 1;
        }

        &::after {
            content: normal;
        }
    }

    &.show .dropdown-toggle {
        opacity: 1;
    }

    label {
        @include input-search;
    }

    .input .form-control {
        width: auto;
    }

    .data-table__header--invisible & {
        display: none;
    }
}

.dataTables_scrollHead .table--bordered,
.dt-scroll-head .table--bordered {
    box-sizing: border-box;
    border: 1px solid $gray;
    border-bottom: 0;
    border-top-left-radius: $table-border-radius;
    border-top-right-radius: $table-border-radius;

    thead {
        // Why is this not in the variables file?? Or even more important, why is this a variable?
        $table-bordered-head-color: #585858;

        color: $table-bordered-head-color;
    }
}

.dataTables_scrollBody:has(.table--bordered),
.dt-scroll-body:has(.table--bordered) {
    border: 1px solid $gray;
    border-top: 0;
    border-bottom-left-radius: $table-border-radius;
    border-bottom-right-radius: $table-border-radius;

    .table-striped {
        border-bottom: 0;
    }
}

.dataTables_scrollFoot .table-striped.table--bordered,
.dt-scroll-foot .table-striped.table--bordered {
    border: 0;
}

.data-table__header-wrapper {
    display: flex;
    position: relative;
    align-items: flex-start;
}

// Pagination
.dataTables_paginate .pagination {
    justify-content: center;
}

.page-item {
    .page-link {
        transition: 0.2s all ease;
    }

    &.active .page-link,
    .page-link:hover {
        border-color: $brand-secundary;
        background-color: $brand-secundary;
        color: $white;
    }
}

.dt-length {
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center flex-end;

    .custom-select {
        margin: 0;
        margin-left: 1rem;
        max-width: 5rem;
    }

    label {
        white-space: nowrap;
        margin: 0;
        padding: 0;
    }
}

/* Necessary to overrule default styling */
div.dataTables_wrapper div.dataTables_length {
    text-align: left;

    label {
        justify-content: flex-start;

        .form-control {
            margin-left: $padding-small-horizontal;
        }
    }
}

/* Necessary to overrule default styling */
div.dataTables_wrapper div.dataTables_filter input.form-control {
    width: 100%;
    margin-left: 0;
}

// Table fullscreen mode
:fullscreen {
    body {
        padding: 0;
        background-color: $white;
    }

    .main {
        max-width: none;
    }

    .sidebar,
    .table-header,
    .content-block__navigation,
    .content-block__head {
        display: none;
    }

    .content-block__main {
        padding-top: 0;
    }

    .dataTables_wrapper {
        padding-top: $padding-large-vertical;
    }

    .data-table {
        margin-top: 0 !important; // Necessary to overrule external styling
    }
}

@include media-breakpoint-up(lg) {
    .dataTables_wrapper .row--main {
        margin-bottom: $padding-large-vertical;
    }

    .dataTables_length_wrapper {
        margin-top: 0;
    }

    .dataTables_length label {
        justify-content: flex-end;
    }

    .dataTables_info_wrapper {
        display: block;
        text-align: right;
    }

    .dataTables_paginate .pagination {
        justify-content: flex-start;
    }
}

div.dataTables_wrapper div.dataTables_processing,
div.td-container div.dt-processing {
    top: 10rem;
}

table.table-purge {

    thead tr th,
    tbody tr td {
        text-align: center !important; // For some reason, this doesn't override unless I do !important
    }

    tbody tr td {
        border: 1px solid $gray;
        border-top: 0;
    }

    thead tr th {
        background-color: $brand-secundary;
        color: $white;
    }
}

button.btn-remove,
button.btn-add {
    margin: $padding-base-vertical 0;
}

.dt-column-order {
    display: none;
    visibility: collapse;
}

.dt-start,
.dt-end {
    @extend .py-2;
    @extend .align-content-center;
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .m-0;
}

.dt-layout-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $padding-base-vertical;

    &.dt-layout-row--no-padding {
        padding: 0;
    }

    .dt-start {
        flex-grow: 1;

        label {
            display: none;
        }

        .dt-search {
            @extend .pe-2;
            width: 100%;

            input[type="search"] {
                width: 100%;
                @extend .m-0;
            }
        }
    }
}

.dt-layout-cell:has(table.data-table) {
    width: 100%;
}

.dt-orderable-asc,
.dt-orderable-desc {
    .data-table__header-wrapper {
        text-align: center;
        align-items: center;
        justify-content: center;

        .dt-column-title {
            white-space: nowrap;
        }

        .btn-search {
            @extend .mx-2;
            opacity: 0;
            transition: 0.2s opacity ease-in;

            &::before {
                @extend %icon-font;
                content: "\e813"; // Sort icon
                transform: none;
                color: var(--bs-secondary, $brand-secundary);
            }
        }

        &.filter {
            .btn-search {
                opacity: 1;
                color: var(--bs-secondary, $brand-secundary);

                &::before {
                    color: var(--bs-secondary, $brand-secundary);
                }
            }
        }

        .btn-sort {
            margin-top: 0.1rem;
            margin-left: 0.25rem;
            opacity: 0;
            transition: 0.2s opacity ease-in;

            span {
                @extend .visually-hidden;
            }

            &::before {
                color: var(--bs-secondary, $brand-secundary);
                @extend %bootstrap-icons;
                content: "\F283"; // Sort icon
                transform: none;
            }
        }
    }

    &:hover,
    &:active,
    &:focus {
        .btn-search {
            opacity: 1;
        }

        .btn-sort {
            opacity: 1;
            color: var(--bs-secondary, $brand-secundary);

            &::before {
                color: var(--bs-secondary, $brand-secundary);
            }
        }
    }
}

.dt-ordering-asc,
.dt-ordering-desc {
    .data-table__header-wrapper {
        .btn-sort {
            opacity: 1;

            &::before {
                opacity: 1;
                color: var(--bs-primary, $brand-primary);
            }
        }
    }
}

.dt-ordering-desc {
    .data-table__header-wrapper {
        .btn-sort {
            &::before {
                content: "\F282"; // Sort descending icon
            }
        }
    }
}

.dt-ordering-asc {
    .data-table__header-wrapper {
        .btn-sort {
            &::before {
                content: "\F286"; // Sort ascending icon
            }
        }
    }
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border: none;
}

.dt-layout-row {
    margin-bottom: $padding-base-vertical;

    .dt-layout-cell.dt-full {
        width: 100%;

        .dt-search {
            width: 100%;

            input[type="search"] {
                width: 100%;
                @extend .m-0;
            }
        }
    }
}

.align-tables {
    padding-top: 2.8rem;
}

/* This is because bootstrap _loves_ to add a box-shadow to the table rows */
.data-table>tbody>tr {
    background-color: $white;
    box-shadow: none;

    &>td {
        box-shadow: none;
    }
}

.table-hover>tbody>tr>* {
    transition: all 0.2s ease-in;
}

.table-hover>tbody>tr:hover>* {
    background-color: #9f9f9f;
    box-shadow: none;
}
