@import "~datatables.net-bs5/css/dataTables.bootstrap5.css",
        "~datatables.net-responsive-bs5/css/responsive.bootstrap5.css",
        "~datatables.net-rowreorder-bs5/css/rowReorder.bootstrap5.css";

.data-table {

    tr {

        td,
        th {
            padding: 0.5rem;
        }
    }

    th {
        margin: 0;
        padding: 1rem;

        .data-table__header-wrapper {
            display: flex;
            align-items: center;

            .data-table__sort {
                cursor: pointer;
            }

            .dt-column-order {
                display: none;
            }

            .dropdown-toggle {
                opacity: 0;
                border: none;
                margin: 0;
                padding: 0;
                transition: all 0.3s ease;

                &::after {
                    display: none;
                }
            }

            .data-table__sort {
                display: flex;
                flex-direction: row;
            }

            &:hover {
                .data-table__sort {
                    cursor: pointer;
                }

                .dropdown-toggle {
                    opacity: 1;
                    border-bottom: none;
                }
            }
        }
    }

    .data-table__sort {
        &::after {
            color: transparent;
            @extend %icon-font;
            content: quote("\E805");
            padding-left: 0.5rem;
            transition: all 0.3s ease;
        }
    }

    .dt-ordering-desc {
        .data-table__sort {
            &::after {
                color: $brand-secundary;
                transform: rotate(90deg);
            }
        }
    }

    .dt-ordering-asc {
        .data-table__sort {
            &::after {
                color: $brand-secundary;
                transform: rotate(-90deg);
            }
        }
    }
}

div.dt-processing>div:last-child>div {
    background-color: $brand-secundary;
    background: $brand-secundary;
}

.dt-layout-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.dt-start {
    // This is so it doesn't clash when the toggle is visible for fullscreen
    width: 62%;
}

@include media-breakpoint-up(xl) {
    div.dt-start {
        width: 75%;
    }
}

.dt-end {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .form-check {
        margin-left: 1rem;
    }
}

div.dt-container div.dt-search input {
    margin: 0;
    width: 100%;
}

.page-item {
    .page-link {
        transition: 0.2s all ease;
    }

    &.active .page-link,
    .page-link:hover {
        border-color: $brand-secundary;
        background-color: $brand-secundary;
        color: $white;
    }
}

th.data-table__header--invisible span {
    @include visually-hidden;
}

.dt-layout-table {
    .dt-layout-cell {
        width: 100%;
    }
}

div.dt-length label {
    padding-right: 0.5rem;
    font-weight: 600;
}

.table-modal {
    overflow: auto;
    position: fixed;
    z-index: 1020;
    /* Make sure this modal is above the nav bar */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: white;

    .row {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }

    .data-table__header--invisible {
        display: none;
    }
}

td:not(.dtr-control) {
    cursor: pointer;
}
