.dataTables_scrollBody:has(.table-toggle) {
    @include media-breakpoint-down(md) {
        /* stylelint-disable-next-line declaration-no-important */
        height: auto !important;
    }
}

.table-toggle tr[data-field-is-toggled="false"] {
    display: none;
}

.table-toggle {
    tr:nth-child(odd of [data-field-is-toggled="true"]) {
        background-color: #f9f9f9;

        td {
            background-color: transparent;
        }
    }
}
