.dataTables_scrollBody:has(.table-toggle) {
  @include media-breakpoint-down(md) {    height: auto !important;
  }
}

.table-toggle tr[data-field-is-toggled="false"] {
  display: none;
}

.table-toggle tbody tr:nth-child(odd of [data-field-is-toggled="true"]) {
  background-color: $gray-light;
}
