<div class="modal-header">
  <div class="modal-header__content">
    <h3 class="modal-title" id="[% modalId %]Label">
      [% label | html %]
    </h3>
  </div>
  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="hidden">Close</span>
  </button>
</div>
