<h1>Your API client credentials are as follows:</h1>
<dl>
  <dt>Client ID:</dt>
  <dd>[% credentials.client_id | html %]</dd>
  <dt>Client secret:</dt>
  <dd>[% credentials.client_secret | html %]</dd>
</dl>
