Package: GADS
Version: %version%
Section: database
Priority: optional
Architecture: amd64
Depends: libalgorithm-dependency-perl (>= 0),
 libcgi-deurl-xs-perl (>= 0),
 libcrypt-urandom-perl (>= 0),
 libctrlo-crypt-xkcdpassword-perl (>= 0),
 libctrlo-pdf-perl (>= 0.06),
 libdancer2-perl (>= 0.300001),
 libdancer2-plugin-auth-extensible-perl (>= 0.601),
 libdancer2-plugin-auth-extensible-provider-dbic-perl (>= 0.623),
 libdancer2-plugin-dbic-perl (>= 0.0013),
 libdancer2-plugin-logreport-perl (>= 1.10),
 libdata-compare-perl (>= 0),
 libdate-holidays-gb-perl (>= 0),
 libdatetime-perl (>= 0),
 libdatetime-event-random-perl (>= 0),
 libdatetime-format-cldr-perl (>= 0),
 libdatetime-format-datemanip-perl (>= 0),
 libdatetime-format-iso8601-perl (>= 0),
 libdatetime-format-sqlite-perl (>= 0),
 libdatetime-format-strptime-perl (>= 0),
 libdatetime-set-perl (>= 0),
 libdbd-pg-perl (>= 0),
 libdbix-class-helpers-perl (>= 0),
 libdbix-class-migration-perl (>= 0),
 libdbix-class-perl (>= 0),
 libfile-bom-perl (>= 0),
 libfile-libmagic-perl (>= 0),
 libhtml-fromtext-perl (>= 0),
 libhtml-scrubber-perl (>= 0),
 libinline-lua-perl (>= 0.16),
 liblist-compare-perl (>= 0),
 liblist-moreutils-perl (>= 0),
 libscalar-list-utils-perl (>= 1.45),
 liblog-log4perl-perl (>= 0),
 liblog-report-perl (>= 1.28),
 libmail-message-perl (>= 0),
 libmail-transport-perl (>= 0),
 libmath-random-isaac-xs-perl (>= 0),
 libmath-round-perl (>= 0),
 libmoox-singleton-perl (>= 0),
 libmoox-types-mooselike-datetime-perl (>= 0),
 libnamespace-clean-perl (>= 0),
 libnet-oauth2-authorizationserver-perl (>= 0),
 libnet-saml2-perl (>= 0),
 libplack-perl (>= 1.0047),
 libpdf-table-perl (>= 1.006),
 libsession-token-perl (>= 0),
 starman (>= 0),
 libstring-camelcase-perl (>= 0),
 libtext-autoformat-perl (>= 0),
 libtext-csv-encoded-perl (>= 0),
 libtext-markdown-perl (>= 0),
 libtie-cache-perl (>= 0),
 libtree-dagnode-perl (>= 0),
 liburl-encode-perl (>= 0),
 libwww-form-urlencoded-xs-perl (>= 0),
 libwww-mechanize-chrome-perl (>= 0),
 libyaml-perl (>= 0),
 postfix (>=0),
 libdancer2-plugin-logreport-perl (>= 0)
Recommends: postgresql (>= 0)
Maintainer: CtrlO Ltd <info@ctrlo.com>
Description: Globally Accessible Data Store (GADS) is a web application for storing and sharing data across an organisation.
 It provides a simple interface for creating and managing data, as well as powerful features for sharing and collaborating on data with others.
 GADS is built using the Dancer2 web framework and is designed to be easy to use and extendable.
Vcs-Git: https://github.com/ctrlo/GADS.git
