[%
  IF data_attributes AND data_attributes.size;
    FOREACH attr IN data_attributes; %]
      data-[% attr.name.replace('_', '-').replace(' ', '-') %]="[% attr.value | html %]"
    [% END;
  END;
%]
