<div class="wrapper">
    <div id="loading-div" class="centered-overlay">
         <div class="loader"></div>
    </div>
    <div class="visualization" data-records="[% records %]" data-groups="[% groups %]" data-rewind="[% session.rewind %]"
        data-width="[% tl_options.canvas_width %]" data-height="[% tl_options.canvas_height %]" data-min="[% timeline.min %]"
        data-max="[% timeline.max %]" style="width:100%" data-click-to-use="[% click_to_use %]">
    </div>
</div>
