<header class="page-header row no-gutters">
  <nav class="page-header_container" aria-label="Top">
    <div class="col-lg-2 offset-lg-10 p-0">
      [% INCLUDE navigation/user_menu.tt %]
    </div>
  </nav>
</header>
