<div class="form-group mb-4">
    <div class="textarea__label">
        <label class="form-label" for="preview"><strong>[% IF label; label; ELSE %]Preview[% END; %]</strong></label>
    </div>
    <div class="js-markdown-preview form-control">
        <p class="text-info">Nothing to preview!</p>
    </div>
</div>