$error: adjust-color($color: $brand-danger, $red: -100, $green: -100, $blue: -100);

.drop-zone {
    border: 2px dashed $gray;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: $gray;
    &.dragging {
        border-color: $brand-secundary;
        color: $brand-primary;
    }
}

.upload__error {
    color: $error;
    font-size: 14px;
    margin-top: 5px;
    padding: 5px;
    background-color: $brand-danger-light;
    border: 1px dashed $error;
    border-radius: $input-border-radius;
}
