.drop-zone {
    border: 2px dashed $gray;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    @include font-size(1rem);
    cursor: pointer;
    transition: all 0.3s ease;
    color: $gray;

    &.dragging {
        border-color: $brand-secundary;
        color: $brand-primary;
    }
}

.upload__error {
    color: $upload-error;
    @include font-size(1rem);
    margin-top: 5px;
    padding: 5px;
    background-color: $brand-danger-light;
    border: 1px dashed $upload-error;
    border-radius: $input-border-radius;
}