.form-inline .form-group {
  margin-right: $padding-base-horizontal;
}

.card__content>.row:last-of-type .form-group:last-child {
  margin-bottom: 0;
}

.form-group[data-has-dependency] {
  margin-left: $padding-large-horizontal;
}

.form-control[aria-invalid],
.radio-group__input[aria-invalid]+.radio-group__label::before {
  border-color: $brand-danger;
}

.form-text {
  @include form-text;
}

.form-text--error {
  margin-top: 0.5rem;
  color: $brand-danger;
}

.tt-menu {
  background-color: #F9F9F9;
  border: solid 2px #E5E5E5;
  width: 210px;
  margin-left: 1px;

  .tt-suggestion {
    background-color: #F9F9F9;
    color: #40374A;
    border-bottom: 1px solid #E5E5E5;
    padding: 0.5rem 1rem;
    font-weight: normal;
  }

  .tt-suggestion:hover {
    background-color: #E5E5E5;
  }
}