.switch {
  input[type=checkbox] {
    @include visually-hidden;
  }

  label {
    position: relative;
    margin-bottom: 0;
    padding-left: 3rem;
  }

  label::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 2rem;
    height: 1rem;
    transform: translateY(-50%);
    border-radius: 1rem;
    background: $gray;
    cursor: pointer;
  }

  label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.1rem;
    box-sizing: content-box;
    width: 0.5rem;
    height: 0.5rem;
    transform: translateY(-50%);
    transition: 0.2s all ease;
    border: 3px solid $transparent;
    border-radius: 0.8rem;
    background: $white;
    cursor: pointer;
  }

  input + label:hover::after,
  input:focus + label::after {
    left: 0;
    width: calc(0.5rem + 3px);
    height: calc(0.5rem + 3px);
    border: 3px solid rgba($brand-secundary, 0.4);
  }

  input:checked + label::before {
    background: $brand-secundary;
  }

  input:checked + label::after {
    left: calc(2rem - 0.1rem);
    transform: translate(-100%, -50%);
  }

  input:checked + label:hover::after,
  input:checked:focus + label::after {
    left: 2rem;
  }
}
