.note-frame.card {
  padding: 0;
}

.note-btn-group .note-btn {
  margin-right: 0;
  margin-bottom: 0;
}

.note-modal {
  .modal-header {
    .modal-title {
      color: $gray-extra-dark;
    }

    .close::before {
      content: normal;
    }
  }

  input[type="file"] {
    @extend .mx-1;
  }
}

.note-btn-primary {
  @include btn-default;

  &:disabled {
    @include btn-disabled;
  }
}

.sn-checkbox-open-in-new-window {
    .form-check-input {
        &:checked::before,
        &::before,
        &:checked::after,
        &::after {
            content: none;
            border: none;
        }
    }
}
