.field--changed {
    input, .jstree-container-ul, .form-control {
        background-color: $field-highlight;
        border-radius: $input-border-radius;
    }
}

.modal-autosave {
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
}

li.li-success {
    list-style: none;
    &::before {
        content: '\2713';
        color: green;
        font-size: 1.5em;
        margin-right: 0.5em;
    }
}

li.li-error {
    list-style: none;
    &::before {
        content: '\2717';
        color: red;
        font-size: 1.5em;
        margin-right: 0.5em;
    }
}