$multiplier: 1.6;

.table-nav-tabs {
    border-bottom: solid 2px #{$secondary};
    margin-left: -$multiplier * $grid-offset-mobile;
    margin-right: -$multiplier * $grid-offset-mobile;
}

.nav-tabs {
    margin-left: $multiplier * $grid-offset-mobile;
    margin-right: $multiplier * $grid-offset-mobile;
    margin-bottom: -2px;

    .nav-item {
        &:not(:first-of-type) {
            margin-left: -1px;
        }
        &:not(:last-of-type) {
            margin-right: -1px;
        }
        .nav-link {
            &:not(.active) {
                --bs-nav-link-color: #{$secondary};
                border-color: rgba($secondary, 0.1);
            }
            &.active {
                --bs-nav-link-color: #{$primary};
                border-bottom-color: transparent;
            }
        }
    }
}
