.user {
  display: flex;
  position: relative;
  align-items: center;
  gap: $padding-base-horizontal;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user__item {
  &:not(:last-child) {
    padding-right: $padding-base-horizontal;
    border-right: 1px solid $gray;
  }
}

.user__link {
  &::before {
    @extend %icon-font;

    color: $brand-primary;
    @include font-size(1.25rem);
  }

  span {
    @include visually-hidden;
  }
}

.user__link--details::before {
  content: "\E81a";
  @include font-size(24px);
}

.user__link--logout::before {
  content: "\E812";
}