// DisclosureWidget
.trigger {
    white-space: nowrap;
}

.expandable {
    display: none;
}

.expandable.expanded {
    display: block;

    &.card {
        box-shadow: $box-shadow-dark;
    }

    &.popover {
        max-width: none;
    }
}

.more-less {
    position: relative;

    .card {
        background: var(--bs-white);
        z-index: 1020;
        position: absolute;
    }

    .table-curcommon {
        margin: $padding-small-horizontal $padding-small-vertical;
    }

    .table-curcommon .link {
        display: table-row;
    }

    .table-curcommon tr {
        td {
            padding: $padding-small-horizontal;
            border-top: 1px solid $gray;
        }

        &:first-of-type td {
            border-top: none;
            padding-top: 0;
        }

        &:last-of-type td {
            padding-bottom: 0;
        }

        & td:first-child {
            padding-left: 0;
        }

        & td:last-child {
            padding-right: 0;
        }

        &:hover {
            background-color: $transparent;
        }
    }
}

.table-curcommon {
    // I have found that sometimes setting 100% width can make elements overflow (or be a bit odd in their display).
    max-width: 98%;
    --bs-table-background: $white;
    // This is a workaround for the inset shadow that appears on the table when using Bootstrap 5.
    --bs-table-bg-state: transparent;
}

.popover.expanded:not(:has(*)) {
    padding: $padding-small-horizontal $padding-small-vertical;
}
