// DisclosureWidget
.trigger {
  white-space: nowrap;
}

.expandable {
  display: none;
}

.expandable.expanded {
  display: block;

  &.card {
    box-shadow: $box-shadow-dark;
  }

  &.popover {
    max-width: none;
  }
}

.more-less {
  position: relative;
  
  .table-curcommon .link {
    display: table-row;
  }

  .table-curcommon tr {
    td {
      padding: $padding-small-horizontal;
      border-top: 1px solid $gray;
    }

    &:first-of-type td {
      border-top: none;
      padding-top: 0;
    }

    &:last-of-type td {
      padding-bottom: 0;
    }

    & td:first-child {
      padding-left: 0;
    }

    & td:last-child {
      padding-right: 0;
    }

    &:hover {
      background-color: $transparent;
    }
  }
}
