.card {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);

  &:not(:last-of-type) {
    margin-bottom: $padding-base-vertical;
  }

  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      @include font-style-h3;
    }

    *:not(.btn) {
      color: $brand-secundary;
    }
  }

  &.card-info {
    .card-header {
      background-color: $brand-primary;
      color: $white;

      & *:not(.btn) {
        color: inherit;
      }
    }
  }
}

.card.card--topic,
.card.card--expandable {
  .card-header {
    border-bottom: 0;
    background-color: $white;
    color: $brand-secundary;
    display: flex;
    cursor: pointer;

    &:not(:first-child) {
      margin-top: $padding-large-vertical;
    }

    .card__header-right {
      display: flex;
      align-items: center;
      * {
        margin-bottom: 0;
      }
    }

    * {
      color: $brand-secundary;
    }

    .card-header__toggle {
      width: 100%;
      height: 100%;
      padding: 1rem 0;
    }
  }
}

.card__title {
  @include font-style-h3;
  margin: 1rem $padding-base-vertical;
  display: flex;
  
  &:not(:first-child) {
    margin-top: $padding-large-vertical;
  }
}

.card__edit-content,
.btn-view {
  display: none;
}

.card.card--topic {
  .card__toggle {
    margin: 0 0.5rem;
  }
}

.card__toggle {
  span {
    @include visually-hidden;
  }

  &::after {
    @extend %icon-font;
    transition: all 0.3s ease-in-out;
    content: quote("\E805");
    font-size: 1.25rem;
    color: $brand-primary;
  }

  &[aria-expanded="true"]::after {
    transform: rotate(90deg);
  }
}

.card-header:not(.collapsed) {
  .card__toggle::after {
    transform: rotate(90deg);
  }
}

.card--edit {

  .card__edit-content,
  .btn-view {
    display: block;
  }

  .card__view-content,
  .btn-edit {
    display: none;
  }
}

.card-header {
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
