.card {
  box-shadow: var(--bs-box-shadow);

  &:not(:last-of-type) {
    margin-bottom: var(--bs-gutter-x);
  }

  &.card--edit {
    .btn-edit {
      display: none;
    }

    .btn-view {
      display: block;
    }

    .card__view-content {
      display: none;
    }
  }

  &:not(.card--edit) {
    .btn-edit {
      display: block;
    }

    .btn-view {
      display: none;
    }

    .card__edit-content {
      display: none;
    }
  }

  &.card-info {
    .card-header {
      background: $brand-primary;

      .card__header {
        color: $white;
        margin: 0;
      }
    }
  }

  .card-header {
    background: $white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: none;

    .card__title {
      @extend h3;
      color: $primary;
    }

    .card-header__toggle {
      width: 100%;
      height: 100%;
    }

    .card__header-right {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      .btn-edit,
      .btn-view {
        margin: 0;
        border-width: 0;

        &:hover,
        &:active {
          text-decoration: underline;
        }
      }

      .btn-edit {
        &::before {
          @extend %icon-font;
          content: quote("\E80B");
          margin-right: 0.75rem;
          color: $brand-secundary;
          background: $transparent;
          transition: all 0.2s ease;
        }
      }

      .btn-view {
        &::before {
          @extend %icon-font;
          content: quote("\E80f");
          margin-right: 0.75rem;
          color: $brand-secundary;
          background: $transparent;
          transition: all 0.2s ease;
        }
      }

      .card__toggle {
        span {
          @include visually-hidden;
        }

        &:after {
          @extend %icon-font;
          content: quote("\e805");
          transform: rotate(90deg);
          transition: all 0.2s ease;
        }

        &.collapsed:after {
          transform: rotate(0deg);
        }
      }
    }
  }
}

.card-primary {
  .card-header {
    .card__title {
      @extend h3;
      color: $secondary;
      @include font-size(1.125rem);
    }
  }
}

.card--expandable:has([data-bs-toggle="collapse"]):not(:has(.show)) {
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}

.card--settings {
  .card-header {
    @extend .pb-0;

    .card__title {
      @include font-size(1.25rem);
    }
  }
}
