.ld-widget-container {
  position: relative;
  background: #e8e8e8;
}

.react-resizable-handle:hover {
  opacity: 1;
}

.ld-hover-region {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 50%;
  width: calc(100% - 80px);
  max-width: 160px;
  max-height: 160px;
}

.ld-hover-region__edit {
  &:hover > * {
    opacity: 1;
    background-color: #fff !important;
  }
}

.ld-hover-region__handle {
  top: 50%;
  bottom: -24px;
  right: -24px;
  & + span {
    transition: opacity 0.2s;
    opacity: 0.2;
  }
  &:hover + span {
    opacity: 1;
  }
}

.ld-edit-button {
  transition: opacity 0.2s, background-color 0.2s;
  background-color: transparent !important;
  opacity: 0.2;
  position: absolute;
  top: 8px;
  right: 8px;
  &:hover {
    background-color: #ebebeb !important;
  }
}

.ld-modal__header {
  padding: 14px 12px;
  position: relative;
  min-width: 400px;
  border-bottom: 1px solid grey;
}

.ld-modal__footer {
  padding: 8px 12px;
  position: relative;
  border-top: 1px solid grey;
}

.ld-modal__right-container {
  position: absolute;
  right: 12px;
  top: 8px;
  > * {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.ld-modal__content-container {
  min-height: 100px;
  position: relative;
}

.ld-modal__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.ReactModal__Body--open {
  overflow-y: hidden;
}
