.ld-widget-container {
  position: relative;
  border: 2px red solid;
}

.ld-edit-button {
  position: absolute;
  top: 0;
  right: 8px;
  cursor: pointer;
}

.ld-modal__button {
  cursor: pointer;
}

.ld-modal__header {
  padding: 0px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  border-bottom: 1px solid grey;
}

.ld-modal__footer {
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
}

.ld-modal__footer-right {
  > * {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.ld-modal__content-container {
  min-height: 100px;
  position: relative;
}

.ld-modal__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
