.ld-widget-container {
  position: relative;
  background: #e8e8e8;
}

.ld-edit-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.ld-modal__button {
}

.ld-modal__header {
  padding: 14px 12px;
  position: relative;
  min-width: 400px;
  border-bottom: 1px solid grey;
}

.ld-modal__footer {
  padding: 8px 12px;
  position: relative;
  border-top: 1px solid grey;
}

.ld-modal__right-container {
  position: absolute;
  right: 12px;
  top: 8px;
  > * {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.ld-modal__content-container {
  min-height: 100px;
  position: relative;
}

.ld-modal__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.ReactModal__Body--open {
  overflow-y: hidden;
}
