.span-invisible {
    span {
        @extend .visually-hidden;
    }
}

.icon::before {
    content: '';
    @extend %icon-font;
    margin-right: 0.75rem;
}

.icon-user::before {
    content: quote("\E81A");
    font-size: calc($font-size-base * 1.5);
}

.icon-organisation::before {
    content: quote("\E827");
}

.icon-dept::before {
    content: quote("\E820");
}

.icon-team::before {
    content: quote("\E80E")
}

.icon-email::before {
    content: quote("\E81C");
}

.icon-settings::before {
    content: quote("\E814");
}

.icon-unlocked::before {
    content: quote("\E819");
}

.icon-table::before {
    content: quote("\E817");
}

.icon-help::before {
    @extend .mx-2;
    @extend .my-0;
    content: quote("?");
    border: solid 1px $brand-secundary;
    border-radius: 50%;
    font-size: 0.8rem;
    // These may look like random values, but I wanted a circle.
    padding: 0.17rem 0.4rem;
}

.icon-chevron-right {
    content: quote("\E805");
}

.icon-reorder::before {
    content: quote("\E829");
}

.icon-error::before {
    content: quote("\E810");
}

.icon-logout::before {
    font-size: calc($font-size-base * 1.25);
    content: quote("\E812");
}