.table-header-top {
    column-gap: 16px;
}

.table-header-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -1.25rem;
    bottom: 0;
    background-color: rgb($white, 0);
}

.user {
    gap: 1rem;
}

.user-item:not(:last-of-type) {
    padding-right: 1rem;
    border-right: $gray-500 solid 1px;
}

@include media-breakpoint-up(lg) {
    .table-header-container::before {
        right: -2rem;
    }
}
