name: 'Script Test and Build'
on:
    push:
        branches:
            - master
            - dev
            - hotfix
        paths:
            - 'src/**'
    pull_request:
        branches:
            - master
            - dev
            - hotfix
        paths:
            - 'src/**'

jobs:
    # This does not need testing in a container
  js_tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npx update-browserslist-db@latest
      - run: yarn
      - run: yarn jest --passWithNoTests

  js_build:
    runs-on: ubuntu-latest
    needs: js_tests

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Check that there are changes to scripts
        run: |
          if [ -z "$(git diff --name-only HEAD^ HEAD | grep '^src/')" ]; then
            echo "No changes to scripts, skipping build."
            exit 0
          fi
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'npm'
      - run: npx update-browserslist-db@latest
      - run: yarn
      - run: NODE_ENV=production webpack
      - run: |
          git config --local user.name "GADS CI"
          git config --local user.email "noreply@ctrlo.com"
          git add public
          git commit -m "Update scripts" || echo "No changes to commit"
          git push || echo "No changes to push"
