.query-builder.query-builder {
  .btn {
    padding: 0.25rem $padding-small-horizontal;
    border-radius: $input-border-radius;
    font-size: $font-size-sm;
  }

  .rules-group-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $padding-small-horizontal;
    width: 100%;
    border: 1px solid $gray;
    background-color: $gray-light;
  }

  .rules-group-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $padding-small-horizontal;
    margin-bottom: 0;

    .group-conditions {
      .btn {
        display: flex;
        align-items: center;
        min-width: 4rem;
        margin-right: 1px;
        margin-bottom: 0;
        border-color: $gray;
        background-color: $white;
        color: $gray-extra-dark;
      }

      .btn.readonly:not(.active),
      input[name$='_cond'] {
        @include visually-hidden-off;

        margin-right: $padding-small-horizontal;
      }

      .btn:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .btn:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .btn.active {
        border-color: $brand-secundary;
      }
    }

    .group-actions {
      flex: 0 0 100%;
      gap: $padding-small-horizontal;

      .btn-success {
        margin: 0;
        border: none;
        border-radius: $input-border-radius;
        background-color: $brand-secundary;
      }
    }
  }

  .rules-list {
    padding-left: 25px;
  }

  .rule-container {
    display: flex;
    flex-wrap: wrap;
    padding: $padding-base-horizontal;
    border: 1px solid $gray;
    border-radius: 0;

    .rule-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      order: 2;
    }

    .btn-group {
      width: 100%;
    }

    .form-control {
      margin-bottom: $padding-base-vertical;
    }
  }

  .rule-filter-container,
  .rule-operator-container {
    flex: 1 0 auto;

    .form-control {
      width: 100%;
    }
  }

  .rule-value-container {
    flex: 0 0 100%;
    padding-top: $padding-base-vertical;
    padding-left: 0;
    border-top: 1px solid $gray;
    border-left: 0;

    .form-control {
      width: 100%;
    }
  }

  .glyphicon {
    margin-right: $padding-small-horizontal;

    &::before {
      @extend %icon-font;
    }
  }

  .glyphicon-plus::before,
  .glyphicon-plus-sign::before {
    content: "\E800";
  }

  .glyphicon-remove::before {
    content: "\E807";
  }

  .glyphicon-warning-sign::before {
    content: "\E822";
  }
}

@include media-breakpoint-up(lg) {
  .query-builder.query-builder {
    .rules-group-header {
      margin-bottom: 0;

      .group-actions {
        flex: none;
        order: 2;
      }
    }

    .rules-group-header,
    .rule-container {
      flex-direction: row;

      .btn-group {
        width: auto;
      }

      .form-control {
        margin-bottom: 0;
      }
    }

    .rule-container {
      gap: $padding-small-horizontal;
    }

    .group-conditions {
      .btn {
        margin-bottom: 0;
      }
    }

    .rules-list {
      padding-left: 40px;
    }

    .rule-value-container {
      flex: 0 0 auto;
      padding-top: 0;
      padding-left: 5px;
      border-top: 0;
      border-left: 1px solid $gray;

      .form-control {
        width: auto;
      }
    }
  }
}

[data-add], [data-delete] {
    &::before {
        @extend %icon-font;
    }
}

[data-add] {
    &::before {
        content: "\E800";
    }
}

[data-delete] {
    &::before {
        content: "\E807";
    }
}
